<!DOCTYPE html>

<html lang="en" dir="ltr">

<head>
  <meta charset="UTF-8" />

  <!-- css de los iconos  -->
  <link href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css" rel="stylesheet" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
  <div class="over overflow-auto sidebar">
    <div class="logo-details">
      <div class="logo_name" [hidden]="!isLogin" style="margin-right: 20px;">


        <img class="circular--square" [src]="'http://localhost:5000/image/images/'+ nombreFoto"
          style="margin: 0 auto;  width: 30px; height: 30px;">

        ReserverGame
      </div>
      <i class="bx bx-menu" id="btn"></i>
    </div>
    <ul class="nav-list">
      <li>
        <i class="bx bx-search"></i>
        <input type="text" placeholder="Search..." />
        <span class="tooltip">Busqueda</span>
      </li>
 
      <!-- ADMIN EMPRESA -->


      <li>
        <a href="#" routerLink="/adminsitrador/cancha/inicio-canchas" routerLinkActive="active"
          *ngIf='isAdminCancha'>
          <i class="cancha"></i>
          <span class="links_name">Reportes</span>
        </a>
        <span class="tooltip">Reportes</span>
      </li> 

      <li>
        <a href="#" routerLink="/adminsitrador/registrodamage/register-damage" routerLinkActive="active"
          *ngIf='isAdminCancha'>
          <i class="damage"></i>
          <span class="links_name">Reportes</span>
        </a>
        <span class="tooltip">Reportes</span>
      </li> 

      <li>
        <a href="#" routerLink="/adminsitrador/aceptacion-reserva/lista-establecimiento" routerLinkActive="active"
          *ngIf='isAdminCancha'>
          <i class="damage"></i>
          <span class="links_name">Reservas</span>
        </a>
        <span class="tooltip">Reservas</span>
      </li> 





      
      <!-- CLIENTES -->

      <!-- <li>
        <a href="#" routerLink="/empresa-adm/dashboard-emp-admin" routerLinkActive="active" *ngIf='isClientAdmin'>
          <i class="bx bx-grid-alt"></i>
          <span class="links_name">Dashboard</span>
        </a>
        <span class="tooltip">Dashboard</span>
      </li> -->

      <!-- <li>
        <a href="#" routerLink="/empresa-adm/dashboard-emp-admin" routerLinkActive="active" *ngIf='isClientAdmin'>
          <i class="bx bx-grid-alt"></i>
          <span class="links_name">Dashboard</span>
        </a>
        <span class="tooltip">Dashboard</span>
      </li> -->


      <!-- <li>
        <a href="#" class="nav-link px-2 text-white" routerLink="/cliente/cliente-producto/catalogo-productos"
          routerLinkActive="active" *ngIf='isClient'>
          <i class="bx bx-pie-chart-alt-2"></i>
          <span class="links_name">Catalogo de Producto</span>
        </a>
        <span class="tooltip">Catalogo de Producto</span>
      </li>

      <li>
        <a href="#" routerLink="/cliente/cliente-pedido/register-pedido" routerLinkActive="active" *ngIf='isClient'>
          <i class="bx bx-pie-chart-alt-2"></i>
          <span class="links_name">Pedidos(cliente)</span>
        </a>
        <span class="tooltip">Pedidos(cliente)</span>
      </li> -->

      <!-- CLIENTES -->
      <!-- <li>
        <a href="#" routerLink="/cliente/reclamo/register-reclamo" routerLinkActive="active" *ngIf='isPublic'>
          <i class="reclamo"></i>
          <span class="links_name">Reclamos</span>
        </a>
        <span class="tooltip">Reclamos</span>
      </li> -->
      <li>
        <a href="#" routerLink="/cliente/catalogo/catalogo-canchas" routerLinkActive="active" *ngIf='isPublic'>
          <i class="cancha"></i>
          <span class="links_name">Catalgo canchas</span>
        </a>
        <span class="tooltip">Catalgo canchas</span>
      </li>

      <li>
        <a href="#" routerLink="/cliente/reserva/listar-reserva" routerLinkActive="active" *ngIf='isPublic'>
          <i class="cancha"></i>
          <span class="links_name">Listado reservas</span>
        </a>
        <span class="tooltip">Listado reservas</span>
      </li>

      <li>
        <a href="#"  routerLink="/cliente/reclamo/edit-reclamos" routerLinkActive="active" *ngIf='isPublic'>
          <i class=""></i>
          <span class="links_name">Reclamos</span>
        </a>
        <span class="tooltip">Reclamos</span>
      </li>







      <!-- ADMIN SUPER -->
      <li>
        <a href="#" routerLink="/sup-admin/bienvenida" routerLinkActive="active" *ngIf='isSuperAdmin'>
          <i class="casa"></i>
          <span class="links_name">Bienvenida</span>
        </a>
        <span class="tooltip">Bienvenida</span>
      </li>

      <li>
        <a href="#" routerLink="/sup-admin/usuarioadmin/register-usuarioadmin" routerLinkActive="active" *ngIf='isSuperAdmin'>
          <i class="usuario"></i>
          <span class="links_name">Usuarios</span>
        </a>
        <span class="tooltip">Usuarios</span>
      </li>
      <li>
        <a href="#" routerLink="/sup-admin/establecimiento/register-establecimiento" routerLinkActive="active" *ngIf='isSuperAdmin'>
          <i class="establecimiento"></i>
          <span class="links_name">Establecimiento</span>
        </a>
        <span class="tooltip">Establecimiento</span>
      </li>

      <!-- ADMIN SUPER -->

      <!-- INVITADO -->



      <li class="profile">
        <div class="profile-details">
          <!--<img src="profile.jpg" alt="profileImg">-->

        </div>
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
            data-bs-toggle="dropdown" aria-expanded="true">
            <div class="text-left">
              <img class="circular--square" [src]="'http://localhost:5000/image/images/' + nombreFoto">
              {{ nombreUsuario }}
            </div>

          </button>

        </div>
        <button class="bx bx-log-out" id="log_out" (click)="cerrarSesion()"></button>
      </li>
    </ul>
  </div>
   
</body>

</html>