<div class="container mt-3">
<div class="row jumbotron box8" style="background-color: rgb(255, 255, 255);">
    <div class="container">
        <div class="row">
         <section class="col-lg-12">
           <div class="card">
             <div class="card-header">
               <i class="fa fa-align-justify"></i> Simple Table
             </div>
             <div class="card-body">
               <table class="table table-responsive-card">
                 <thead>
                   <tr>
                     <th scope="col">Username</th>
                     <th scope="col">Date registered</th>
                     <th scope="col">Role</th>
                     <th scope="col">Status</th>
                   </tr>
                 </thead>
                 <tbody>
                   <tr> 
                    <th scope="row">Samppa Nori</th>
                     <td data-title="Registered at">2012/01/01</td>
                     <td data-title="Role">Member</td>
                     <td data-title="Status">
                       <span class="badge badge-success">Active</span>
                     </td>
                   </tr>
                   <tr>
                      <th scope="row">Nori Samppa</th>
                     <td data-title="Registered at">2012/02/01</td>
                     <td data-title="Role">Staff</td>
                     <td data-title="Status">
                       <span class="badge badge-danger">Banned</span>
                     </td>
                   </tr>
                   <tr>
                      <th scope="row">Chetan Mohamed</th>
                     <td data-title="Registered at">2012/02/01</td>
                     <td data-title="Role">Admin</td>
                     <td data-title="Status">
                       <span class="badge badge-secondary">Inactive</span>
                     </td>
                   </tr>
                   <tr>
                      <th scope="row">Derick Maximinus</th>
                     <td data-title="Registered at">2012/03/01</td>
                     <td data-title="Role">Member</td>
                     <td data-title="Status">
                       <span class="badge badge-warning">Pending</span>
                     </td>
                   </tr>
                 </tbody>
               </table>
               <ul class="pagination">
                 <li class="page-item"><a class="page-link" href="#">Prev</a></li>
                 <li class="page-item active">
                   <a class="page-link" href="#">1</a>
                 </li>
                 <li class="page-item"><a class="page-link" href="#">2</a></li>
                 <li class="page-item"><a class="page-link" href="#">3</a></li>
                 <li class="page-item"><a class="page-link" href="#">4</a></li>
                 <li class="page-item"><a class="page-link" href="#">Next</a></li>
               </ul>
             </div>
           </div>
         </section>
         <!--/.col-->
     
    
         <!--/.col-->
       </div>
     </div>
      

</div>
</div>
