label {
    font-weight: 600;
    color: #666;
}
body {
  background: #f1f1f1;
}
.box8{
  box-shadow: 0px 0px 5px 1px #999;
}
.mx-t3{
  margin-top: -3rem;
}






@media (max-width: 768px) {
  .table-responsive-card {
    width: 100%;
    margin-bottom: 1.5em;
  }
  .table-responsive-card thead {
    position: absolute;
    clip: rect(1px 1px 1px 1px);
    /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
  }
  .table-responsive-card tbody,
  .table-responsive-card tr,
  .table-responsive-card th,
  .table-responsive-card td {
    display: block;
    padding: 0;
    text-align: left;
    white-space: normal;
  }
  .table-responsive-card th,
  .table-responsive-card td {
    padding: .5em;
    vertical-align: middle;
  }
  .table-responsive-card caption {
    margin-bottom: 1em;
    font-size: 1em;
    font-weight: bold;
    text-align: center;
  }

  .table-responsive-card tbody tr:last-of-type {
    margin-bottom: 0;
  }

  .table-responsive-card tbody th {
    border-top: 0;
  }
  .table-responsive-card tbody td[data-type=currency] {
    text-align: right;
  }


  .table-responsive-card tbody td {
    text-align: right;
  }
}


@media (min-width: 768px) {
  .table-responsive-card tbody tr:first-child td:first-child {
    border-top: 0;
  }
}
