<div class="container">
    <mat-tab-group preserveContent>
        <mat-tab label="Registro de Reclamos">
            <div class="content">

                <p-panel id="paneregusuario" class="panel" header="Registro Reclamo">

                    <div class="items panel over overflow-auto p-grid p-fluid">
                        <section id="step1" data-step="1">
                            <fieldset>
                                <div class="row">
                                    <div class="col">
                                        <div class="p-col-12 p-md-4">
                                        </div>
                                        <div class="p-col-12 p-md-4">
                                            <span class="p-float-label">
                                                <input id="float-input" type="text" [(ngModel)]="reclamo.titulo"
                                                maxlength="100" minlength="3" pInputText (keypress)="onKeyPressLetras($event)">
                                                <label for="float-input">Título</label>
                                            </span>
                                        </div>
                                        <div class="p-col-12 p-md-4">
                                            <span class="p-float-label">
                                                <textarea id="float-input" type="text" [(ngModel)]="reclamo.descripcion"
                                                maxlength="10000" minlength="3" pInputText></textarea>
                                                <label for="float-input">Descripciín</label>
                                            </span>
                                        </div>
                                        <div class="p-col-12 p-md-4">
                                            <span class="p-float-label">
                                                <input id="float-input" type="text" class="form-control" disabled="true" [value]="this.nombre +' '+this.apellido"
                                                    maxlength="1000" minlength="2" pInputText>
                                                <label for="float-input">Cliente</label>
                                            </span>
                                        </div>
                                        <div class="p-col-12 p-md-4">
                                            <span class="p-float-label">
                                                <input id="float-input" type="text" class="form-control" disabled="true" [value]="this.nombreAdmin +' '+ this.apellidoAdmin"
                                                    maxlength="1000" minlength="2" pInputText>
                                                <label for="float-input">Administrador</label>
                                            </span>
                                        </div>                                         
                                        <div class="p-col-12 p-md-4">
                                            <button id="btnregistrar" pButton pRipple type="button" label="Guardar Reclamo"
                                                icon="pi pi-check" iconPos="right" class="p-button-rounded p-button-primary"
                                                (click)="guardarReclamo()"></button>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </section>
                    </div>
                </p-panel>
            </div>
        </mat-tab>


    </mat-tab-group>


</div>