
        <div class="slide-container swiper">
            <div class="slide-content">
                <div class=" swiper-wrapper">
     
                    <div class="card swiper-slide">
                        <div class="image-content">
                            <span class="overlay"></span>

                            <div class="card-image">
                              
                               
                                <video autoplay muted  loop src="https://cdn-icons-mp4.flaticon.com/512/6416/6416387.mp4"   width="10px" height="10px" alt="" class="card-img"></video>
                                
                            </div>
                        </div>

                        <div class="card-content">
                            <h2 class="name">Registro de productos</h2>
                            <p class="description">En este modulo podras Registrar a los clientes de tu empresa usaran la plataforma TechSoft</p>

                            <button  (click)="goToR($event)" id="btnsedittbl" class="nextBtn">
                                <span     class="btnText">Entrar </span>
                                
                            </button>
                        </div>
                    </div>

            

                    <div class="card swiper-slide">
                        <div class="image-content">
                            <span class="overlay"></span>

                            <div class="card-image">
                                <video autoplay muted  loop src="https://cdn-icons-mp4.flaticon.com/512/8718/8718669.mp4"   width="10px" height="10px" alt="" class="card-img"></video>
                            </div>
                        </div>

                        <div class="card-content">
                            <h2 class="name">Catalogo productos</h2>
                        
                            <p class="description">En este Modulo podras ver la lista del personal registradas en la plataforma TechSoft </p>

                            <button (click)="go($event)" id="btnsedittbl" class="nextBtn">
                                <span     class="btnText">Entrar </span>
                                
                            </button>
                        </div>
                    </div>

                   

                  
                    <div class="swiper-button-next swiper-navBtn"></div>
                    <div class="swiper-button-prev swiper-navBtn"></div>
                    <div class="swiper-pagination"></div>

               

                 

                   
                </div>
            </div>

           
        </div>
      



