
        <div class="slide-container swiper">
            <div class="slide-content">
                <div class="card-wrapper swiper-wrapper">
     
                    <div class="card swiper-slide">
                        <div class="image-content">
                            <span class="overlay"></span>

                            <div class="card-image">
                              
                               
                                <video autoplay muted  loop src="https://cdn-icons-mp4.flaticon.com/512/8121/8121295.mp4"   width="10px" height="10px" alt="" class="card-img"></video>
                                
                            </div>
                        </div>

                        <div class="card-content">
                            <h2 class="name">Registro de Cliente</h2>
                            <p class="description">En este modulo podras Registrar a los clientes de tu empresa usaran la plataforma TechSoft</p>

                            <button  (click)="goToR($event)" id="btnsedittbl" class="nextBtn">
                                <span     class="btnText">Entrar </span>
                                
                            </button>
                        </div>
                    </div>

                    <div class="card swiper-slide">
                        <div class="image-content">
                            <span class="overlay"></span>

                            <div class="card-image">
                       
                                <video autoplay muted  loop src="https://cdn-icons-mp4.flaticon.com/512/8800/8800862.mp4"   width="10px" height="10px" alt="" class="card-img"></video>
                            </div>
                        </div>

                        <div class="card-content">
                            <h2 class="name">Edicion de Cliente</h2>
                            <p class="description">En este Modulo podras editar los datos de tus clientes  previamente registradas  </p>

                            <button (click)="goTo($event)"  id="btnsedittbl" class="nextBtn">
                                <span   class="btnText">Entrar </span>
                                
                            </button>
                        </div>
                    </div>

                    <div class="card swiper-slide">
                        <div class="image-content">
                            <span class="overlay"></span>

                            <div class="card-image">
                                <video autoplay muted  loop src="https://cdn-icons-mp4.flaticon.com/512/8722/8722658.mp4"   width="10px" height="10px" alt="" class="card-img"></video>
                            </div>
                        </div>

                        <div class="card-content">
                            <h2 class="name">Lista clientes</h2>
                        
                            <p class="description">En este Modulo podras ver la lista del cliente registradas en la plataforma TechSoft </p>

                            <button (click)="goT($event)" id="btnsedittbl" class="nextBtn">
                                <span     class="btnText">Entrar </span>
                                
                            </button>
                        </div>
                    </div>

                   

           
               

                 

                   
                </div>
            </div>

            
        </div>
      



