<div class="content">
    <body>
        <p-panel id="panellistdamage">
            <div class="panel over overflow-auto p-grid p-fluid">
                <p-table #dt3 [value]="lista" dataKey="id" [rowHover]="true" [rows]="10"
                [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]" 
                [paginator]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                [filterDelay]="0" [globalFilterFields]="['cedula','nombre','establecimiento','descripcion','valor','estado','foto']">
                <ng-template pTemplate="caption">
                    <div class="table-header">
                        <span class="p-input-icon-right">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text"
                            (input)="dt3.filterGlobal($any($event.target).value, 'contains')"
                            placeholder="Ingrese Nombre de Usuario a Buscar" />
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="cedula">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                Cedula
                                <p-sortIcon field="cedula"></p-sortIcon>
                            </div>
                        </th>

                        <th pSortableColumn="nombre">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                Nombre
                                <p-sortIcon field="nombre"></p-sortIcon>
                            </div>
                        </th>

                        <th pSortableColumn="establecimiento">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                Establecimiento
                                <p-sortIcon field="establecimiento"></p-sortIcon>
                            </div>
                        </th>

                        <th pSortableColumn="descripcion">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                Descripcion
                                <p-sortIcon field="descripcion"></p-sortIcon>
                            </div>
                        </th>

                        <th pSortableColumn="valor">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                Valor
                                <p-sortIcon field="valor"></p-sortIcon>
                            </div>
                        </th>
                        <th pSortableColumn="estado">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                Estado
                                <p-sortIcon field="estado"></p-sortIcon>
                            </div>
                        </th>
                        <th pSortableColumn="foto">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                Foto
                                <p-sortIcon field="foto"></p-sortIcon>
                            </div>
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-pago_damage>
                    <tr class="p-selectable-row">
                        <td>
                            {{pago_damage.registroDamage?.cliente?.cedula}}
                        </td>
                        <td>
                            {{pago_damage.registroDamage?.cliente?.nombre}} {{pago_damage.registroDamage?.cliente?.apellido}}
                        </td>
                        <td>
                            {{pago_damage.registroDamage?.establecimiento?.nombre}}
                        </td>
                        <td>
                            {{pago_damage.registroDamage?.descripcion}}
                        </td>
                        <td>
                            {{pago_damage.registroDamage?.valor}}
                        </td>
                        <td>
                           {{pago_damage.estado}}
                        </td>
                        <td>
                            <img class="circular--square"
                            [src]="'http://localhost:5000/image/images/' + pago_damage.registroDamage?.foto" style="margin: 0 auto;  width: 70px; height: 70px;">
                        </td>
                        <td style="text-align: center">
                            <button pButton pRipple type="button" icon="pi pi-pencil" label=""
                            class="p-button-primary"  (click)="editarLista(pago_damage.registroDamage)" ></button>
                        </td>
                        <td style="text-align: center">
                            <button pButton pRipple type="button" icon="pi pi-dollar" label=""
                            class="p-button-primary" (click)="pagarDamage(pago_damage)"></button>
                        </td>
                    </tr>
                </ng-template>
                </p-table>
            </div>
        </p-panel>
    </body>



    <p-dialog header="Pagar Daño" [(visible)]="displayPG" [modal]="true" [style]="{width: '75vw'}"
    [baseZIndex]="10000" [draggable]="false" [resizable]="false">
        <ng-template pTemplate="body">
            <div class="p-grid p-fluid">
                <h2 class="form-label-p text-center">Pagar el Daño</h2>
                <div class="perfil-usuario-avatar text-center">
                    <div class="col-xs-12 col-sm-12">

                        <div class="p-col-3 p-md-4">
                            <span class="p-float-label">
                                <input (change)="imageSelected($event)" formControlName="foto"
                                    accept="image/*" name="foto" type="file" class="form-control"
                                    id="float-input" required />
                                <label for="float-input"></label>
                            </span>
                            <div *ngIf="file" class="mt-3 text-center">
                                <img [src]="file" class="rounded" alt="..." style="max-width: 50%;" />
                            </div>
                            <div>
                                <img alt="..." style="max-width: 50%;" [src]="'http://localhost:5000/image/images/' + pago_damage.foto"/>
                            </div>
                            <div>
                                <button id="btnreg" pButton pRipple type="button" label="Registrar"
                            icon="pi pi-check" iconPos="right" class="p-button-rounded p-button-primary"
                            (click)="updatePago()" ></button>
                            </div>       
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
    </p-dialog>




    <p-dialog header="Editar Registro" [(visible)]="displayEU" [modal]="true" [style]="{width: '75vw'}"
    [baseZIndex]="10000" [draggable]="false" [resizable]="false">
        <ng-template pTemplate="body">
            <div class="p-grid p-fluid">
                <h2 class="form-label-p text-center">Datos del Registro</h2>
                <div class="perfil-usuario-avatar text-center">
                    <div class="col-xs-12 col-sm-12">


                        <div class="p-col-12 p-md-4">
                            <span class="p-float-label">
                                <textarea type="text" onkeypress="return /[a-zA-Z\s]/i.test(event.key)" class="inputbox"
                                name="descripcion" id="float-input" 
                                [(ngModel)]="registro_damage.descripcion"
                                [pKeyFilter]="blockSpecial"
                                maxlength="200" minlength="3" pInputText required></textarea>
                                <label for="float-input">Descripción</label>
                            </span>
                        </div>

                        <div class="p-col-12 p-md-4">
                            <span class="p-float-label">
                                <input id="float-input" type="text" onkeypress="return /^\d*\.?\d{0,2}$/.test(event.target.value + event.key)" [(ngModel)]="registro_damage.valor" pInputText required>
                            <label for="float-input">Valor</label>
                            </span>
                        </div>
                        
                        <div class="p-col-3 p-md-4">
                            <span class="p-float-label">
                                <input (change)="imageSelected($event)" formControlName="foto"
                                    accept="image/*" name="foto" type="file" class="form-control"
                                    id="float-input" required />
                                <label for="float-input"></label>
                            </span>
                            <div *ngIf="file" class="mt-3 text-center">
                                <img [src]="file" class="rounded" alt="..." style="max-width: 50%;" />
                            </div>
                            <div>
                                <img alt="..." style="max-width: 50%;" [src]="'http://localhost:5000/image/images/' + registro_damage.foto"/>
                            </div>
                            <div>
                                <button id="btnreg" pButton pRipple type="button" label="Registrar"
                            icon="pi pi-check" iconPos="right" class="p-button-rounded p-button-primary"
                            (click)="updateDamageRegister()" ></button>
                            </div>       
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
    </p-dialog>
</div>