<body class="d-flex h-100 text-center ">

  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">

    <div class="container">
      <div class="card">
        <div class="top-row background-top-row"> <img
            src="../../../../../../assets/img/pelota.gif" width="130px"
            height="110px"> </div>

        <div class="content"> <i class="fa fa-lock" aria-hidden="true"></i>
          <h1>Iniciar Sesion</h1>
          <h1>ServerGame</h1>
          <p>Cedula</p>
          <input type="text" class="text" name="" id="">
          <p>Contraseña</p>
          <input type="password" class="text" name="" id="">
          <a href="#" id="btns" class="btn btn-lg btn-secondary fw-bold border-white " (click)="login()">Iniciar
            Sesion</a>
        </div>
        <div class="networks background-top-row"> <i class="fa fa-facebook" aria-hidden="true"></i> <i
            class="fa fa-google" aria-hidden="true"></i> <i class="fa fa-instagram" aria-hidden="true"></i>
        </div>
      </div>
    </div>

  </div>

</body>