<body class="d-flex h-100 text-center">

    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">

        <div class="container">
            <div class="card">
                <div class="top-row background-top-row"> <img src="../../../../../../assets/img/pelota.gif"
                        width="120px"> </div>

                <div class="content"> <i class="fa fa-lock" aria-hidden="true"></i>
                    <h1>Registrar Usuario</h1>
                    <div class="items panel over overflow-auto p-grid p-fluid">
                        <label for="float-input">Nombres</label>
                        <input type="text" class={{verfNombres}} [(ngModel)]="persona.nombres" pInputText>

                        <label for="float-input">Apellidos</label>
                        <input type="text" class={{verfApellidos}} [(ngModel)]="persona.apellidos" pInputText>

                        <label for="float-input">Correo</label>
                        <input id="float-input" type="text" class={{verfCorreo}} [(ngModel)]="persona.correo"
                            (ngModelChange)="validarCorreo()" pInputText>

                        <label for="float-input">Username</label>
                        <input type="text" class={{verfUsername}} [(ngModel)]="usuario.username"
                            pInputText>

                        <label for="float-input">Password</label>
                        <p-password [toggleMask]="true" type="password" class={{verfPassword}}
                            [(ngModel)]="usuario.password"></p-password>


                        <br>
                        <div class="p-col-12 p-md-4">
                            <button pButton pRipple type="button" label="Registrarse" icon="pi pi-check" iconPos="right"
                                class="p-button-rounded p-button-primary" (click)="registrarUsuario()"></button>
                        </div>

                    </div>

                </div>
            </div>
            <div class="networks background-top-row"> <i class="fa fa-facebook" aria-hidden="true"></i> <i
                    class="fa fa-google" aria-hidden="true"></i> <i class="fa fa-instagram" aria-hidden="true"></i>
            </div>
        </div>

    </div>


</body>