/*   tercer css */

.container {
  width: 90%;
  background-color: #fff;
  border-radius: 15px;
}

.panel {
  height: 575px;
}
#btnreg {
  background-color: black;
}

#btnreg {
  background-color: rgb(12, 12, 12);
  border-bottom-color: rgb(2, 2, 2);
  border-color: black;

  color: white;
  letter-spacing: 0.1rem;
}

#btnreg:hover,
#btnreg:focus {
  color: black;
  border-bottom-color: rgb(8, 8, 8);

  border-color: black;
  background-color: rgb(13, 243, 166);
}
#panelregempresa {
  margin: 20px;
}
/*SCROLL VIEW*/

.over::-webkit-scrollbar {
  width: 0px;
  background-color: #fff;
}

#paneregusuario {
  margin: 20px;
}