<div class="container">
    <mat-tab-group preserveContent>
        <mat-tab label="Registro de Usuarios">
            <div class="content">

                <p-panel id="paneregusuario" class="panel" header="Registro usuario">
                    <div class="panel over overflow-auto p-grid p-fluid">
                        <div class="row">
                            <div class="col">
                                <div class="p-col-12 p-md-4">
                                    <span class="p-float-label">
                                        <input id="float-input" type="text" [(ngModel)]="persona.cedula"
                                            [pKeyFilter]="'int'" maxlength="10" minlength="10"
                                            (ngModelChange)='buscarPorCedula()' pInputText required>
                                        <label for="float-input">Cédula</label>
                                    </span>
                                </div>
                                <div class="p-col-12 p-md-4">
                                    <span class="p-float-label">
                                        <input id="float-input" type="text" [(ngModel)]="persona.nombre"
                                            [pKeyFilter]="blockSpecial" maxlength="30" minlength="3" pInputText>
                                        <label for="float-input">Nombres</label>
                                    </span>
                                </div>
                                <div class="p-col-12 p-md-4">
                                    <span class="p-float-label">
                                        <input id="float-input" type="text" [(ngModel)]="persona.apellido"
                                            [pKeyFilter]="blockSpecial" maxlength="30" minlength="3" pInputText>
                                        <label for="float-input">Apellidos</label>
                                    </span>
                                </div>
                                <div class="p-col-12 p-md-4">
                                    <span class="p-float-label">
                                        <input id="float-input" type="text" [(ngModel)]="persona.email"
                                            [pKeyFilter]="valCorreo" maxlength="30" minlength="6" pInputText>
                                        <label for="float-input">Correo</label>
                                    </span>
                                </div>
                                <div class="p-col-12 p-md-4">
                                    <span class="p-float-label">
                                        <input id="float-input" type="date" [(ngModel)]="persona.fechaNacimmiento"
                                            pInputText>
                                        <label for="float-input">Fecha de nacimiento</label>
                                    </span>
                                </div>
                                <div class="p-col-3 p-md-4">
                                    <p-dropdown [options]="listaEmpresas" appendTo="body" [(ngModel)]="empresa"
                                        placeholder="Empresa" optionLabel="nombre" [filter]="true"
                                        [showClear]="true"></p-dropdown>
                                </div>
                                <div class="p-col-3 p-md-4">
                                    <p-dropdown [options]="listaRoles" [(ngModel)]="rol" placeholder="Rol"
                                        optionLabel="nombre" [filter]="true" [showClear]="true"
                                        appendTo="body"></p-dropdown>
                                </div>
                            </div>
                            <div class="col">
                                <div class="p-col-3 p-md-4">
                                    <p-dropdown [options]="generos" [(ngModel)]="persona.genero"
                                        placeholder="{{persona.genero}}" [disabled]="true"
                                        [showClear]="true"></p-dropdown>
                                </div>
                                <div class="p-col-3 p-md-4">
                                    <span class="p-float-label">
                                        <input id="float-input" type="text" [(ngModel)]="persona.direccion"
                                            [pKeyFilter]="blockSpecial" maxlength="40" minlength="10" pInputText>
                                        <label for="float-input">Dirección</label>
                                    </span>
                                </div>
                                <div class="p-col-3 p-md-4">
                                    <span class="p-float-label">
                                        <p-inputMask id="float-input" mask="09-9999999" [(ngModel)]="persona.telefono"
                                            placeholder=""></p-inputMask>
                                        <label for="float-input">Teléfono</label>
                                    </span>
                                </div>
                                <div class="p-col-3 p-md-4">
                                    <span class="p-float-label">
                                        <p-inputMask mask=" 0999999999" [(ngModel)]="persona.celular"
                                            placeholder=""></p-inputMask>
                                        <label for="float-input">Celular</label>
                                    </span>
                                </div>
                                <div class="p-col-3 p-md-4">
                                    <span class="p-float-label">
                                        <input id="float-input" type="text" [(ngModel)]="usuario.username"
                                            [pKeyFilter]="'alphanum'" maxlength="30" minlength="3" pInputText>
                                        <label for="float-input">Username</label>
                                    </span>
                                </div>
                                <div class="p-col-12 p-md-4">
                                    <span class="p-float-label">
                                        <p-password [toggleMask]="true" name="password" [(ngModel)]="usuario.password"
                                            [pKeyFilter]="'alphanum'" maxlength="15" minlength="6">
                                            <ng-template pTemplate="header">
                                                <h6>Pick a password</h6>
                                            </ng-template>
                                            <ng-template pTemplate="footer">
                                                <p-divider></p-divider>
                                                <p class="mt-2">Suggestions</p>
                                                <ul class="pl-2 ml-2 mt-0" style="line-height: 1.5">
                                                    <li>Al menos una minúscula</li>
                                                    <li>Al menos una mayúscula</li>
                                                    <li>Al menos un número</li>
                                                    <li>Minimo 6 caracteres</li>
                                                </ul>
                                            </ng-template>
                                        </p-password>
                                        <label for="float-input">Password</label>
                                    </span>
                                </div>

                                <div class="p-col-3 p-md-4">
                                    <span class="p-float-label">
                                        <input (change)="imageSelected($event)" formControlName="foto" accept="image/*"
                                            name="foto" type="file" class="form-control" id="float-input" required />
                                        <label for="float-input"></label>
                                    </span>
                                    <div *ngIf="file" class="mt-3 text-center">
                                        <img [src]="file" class="rounded" alt="..." style="max-width: 50%;" />
                                    </div>
                                </div>


                            </div>
                            <br>
                            <div class="p-col-12 p-md-4">
                                <button id="btnreg" pButton pRipple type="button" label="Registrar Usuario"
                                    icon="pi pi-check" iconPos="right" class="p-button-rounded p-button-primary"
                                    (click)="registrarUsuario()"></button>
                            </div>
                        </div>
                    </div>
                </p-panel>

            </div>
        </mat-tab>

        <mat-tab label="Listado Usuarios" routerLink="../edit-user" routerLinkActive="active">
            <!-- <a class="nav-link" aria-current="true" routerLink="../edit-user"
                            routerLinkActive="active">Registrar nueva empresa</a>
                            -->
            <app-edit-user></app-edit-user>
        </mat-tab>

    </mat-tab-group>

</div>





<!--OTRO DISEÑO HACIENDO USO DEL FORMULARIO DEL PROYECTO ORIGINAL-->