<div class="container">
    <mat-tab-group [selectedIndex]="selected.value" #tabGroup preserveContent
        (selectedIndexChange)="selected.setValue($event)">
        <mat-tab routerLink="../register-empresa" routerLinkActive="active" label="Registro de Empresas">
            <div class="content">
                <p-panel id="panelregempresa" header="Registro Empresa">
                    <div class="panel over overflow-auto p-grid p-fluid">
                        <h4 style="text-align: center">Datos de la empresa</h4>
                        <div class="p-grid p-fluid">
                            <div class="row">
                                <div class="col">
                                    <div class="p-col-12 p-md-4">
                                        <span class="p-float-label">
                                            <input id="float-input" type="text" class="form-control"
                                                [(ngModel)]="empresa.ruc" [pKeyFilter]="'int'" maxlength="13"
                                                minlength="13" pInputText required />
                                            <label for="float-input">RUC</label>
                                        </span>
                                    </div>
                                    <div class="p-col-12 p-md-4">
                                        <span class="p-float-label">
                                            <input id="float-input" type="text" class="form-control"
                                                [(ngModel)]="empresa.mision" [pKeyFilter]="blockSpecial" maxlength="100"
                                                minlength="10" pInputText required />
                                            <label for="float-input">Misión</label>
                                        </span>
                                    </div>
                                    <div class="p-col-12 p-md-4">
                                        <span class="p-float-label">
                                            <input id="float-input" type="text" class="form-control"
                                                [(ngModel)]="empresa.vision" [pKeyFilter]="blockSpecial" maxlength="100"
                                                minlength="10" pInputText required />
                                            <label for="float-input">Visión</label>
                                        </span>
                                    </div>
                                    <div class="p-col-3 p-md-4">
                                        <span class="p-float-label">
                                            <input id="float-input" type="text" class="form-control"
                                                [(ngModel)]="empresa.nombre" [pKeyFilter]="blockSpecial" maxlength="100"
                                                minlength="5" pInputText required />
                                            <label for="float-input">Nombre o razón social</label>
                                        </span>
                                    </div>
                                    <div class="p-col-3 p-md-4">
                                        <span class="p-float-label">
                                            <input id="float-input" type="text" class="form-control"
                                                [(ngModel)]="empresa.acronimo" [pKeyFilter]="blockSpecial"
                                                maxlength="100" minlength="5" pInputText required />
                                            <label for="float-input">Acrónimo</label>
                                        </span>
                                    </div>
                                    <div class="p-col-3 p-md-4">
                                        <span class="p-float-label">
                                            <input id="float-input" type="text" class="form-control"
                                                [(ngModel)]="empresa.rolComercial" [pKeyFilter]="blockSpecial"
                                                maxlength="100" minlength="10" pInputText required />
                                            <label for="float-input">Actividad comercial</label>
                                        </span>
                                    </div>
                                    <div class="p-col-3 p-md-4">
                                        <span class="p-float-label">
                                            <input id="float-input" type="text" [(ngModel)]="empresa.paginaWeb"
                                                maxlength="100" minlength="5" pInputText />
                                            <label for="float-input">Página web</label>
                                        </span>
                                    </div>
                                    <div class="p-col-3 p-md-4">
                                        <span class="p-float-label">
                                            <input (change)="imageSelected($event)" name="logo" type="file"
                                                class="form-control" id="float-input" required />
                                            <label for="float-input"></label>
                                        </span>
                                        <div *ngIf="file" class="mt-3 text-center">
                                            <img [src]="file" class="rounded" alt="..." style="max-width: 50%" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="p-col-3 p-md-4">
                                        <span class="p-float-label">
                                            <input id="float-input" type="text" class="form-control"
                                                [(ngModel)]="empresa.pais" disabled="true" [pKeyFilter]="'alpha'"
                                                maxlength="100" minlength="3" pInputText required />
                                            <label for="float-input">País</label>
                                        </span>
                                    </div>
                                    <div class="content-select p-col-3 p-md-4">
                                        <span class="p-float-label">
                                            <select class="form-control" (change)="changeCountry($event)"
                                                [(ngModel)]="opcionprov">
                                                <option value="" disabled selected>Seleccione una provincia
                                                </option>
                                                <option *ngFor="let country of Countries" name="provincia">
                                                    {{country.name}}
                                                </option>
                                            </select>
                                        </span>
                                    </div>
                                    <div class="content-select p-col-3 p-md-4">
                                        <span class="p-float-label">
                                            <select class="form-control" (valueChange)="changeState($event)"
                                                [(ngModel)]="opcionciu">
                                                <option value="" disabled [selected]="true">Seleccione una provincia
                                                </option>
                                                <option *ngFor="let state of states" name="ciudad">{{
                                                    state.name
                                                    }}</option>
                                            </select>
                                        </span>
                                    </div>
                                    <div class="p-col-3 p-md-4">
                                        <span class="p-float-label">
                                            <input id="float-input" type="text" class="form-control"
                                                [(ngModel)]="empresa.direccion" [pKeyFilter]="blockSpecial"
                                                maxlength="100" minlength="10" pInputText required />
                                            <label for="float-input">Dirección</label>
                                        </span>
                                    </div>
                                    <div class="p-col-3 p-md-4">
                                        <span class="p-float-label">
                                            <input id="float-input" type="text" class="form-control"
                                                [(ngModel)]="empresa.codigoPostal" [pKeyFilter]="'int'" maxlength="6"
                                                minlength="6" pInputText />
                                            <label for="float-input">Código postal</label>
                                        </span>
                                    </div>
                                    <div class="p-col-3 p-md-4">
                                        <span class="p-float-label">
                                            <p-inputMask id="float-input" mask="09-9999999"
                                                [(ngModel)]="empresa.telefono" placeholder=""></p-inputMask>
                                            <label for="float-input">Teléfono</label>
                                        </span>
                                    </div>
                                    <div class="p-col-3 p-md-4">
                                        <span class="p-float-label">
                                            <p-inputMask mask=" 0999999999" [(ngModel)]="empresa.celular"
                                                placeholder="">
                                            </p-inputMask>
                                            <label for="float-input">Celular</label>
                                        </span>
                                    </div>
                                    <div class="p-col-3 p-md-4">
                                        <span class="p-float-label">
                                            <input id="float-input" type="text" class="{{ verfCorreo }}"
                                                [(ngModel)]="empresa.correo" (ngModelChange)="validarCorreo()"
                                                pInputText />
                                            <label for="float-input">Correo</label>
                                        </span>
                                    </div>
                                </div>
                                <div class="row">
                                    <h4 style="text-align: center">
                                        Cuenta bancaria
                                        <button pButton type="button" class="p-button-rounded p-button-primary"
                                            icon="pi pi-plus" (click)="agregarCuentaBancaria()"></button>
                                    </h4>
                                    <div class="col">
                                        <div class="p-col-3 p-md-4">
                                            <span class="p-float-label">
                                                <p-dropdown [options]="bancocoops" [(ngModel)]="banco"
                                                    placeholder="Banco / Cooperativa" [showClear]="true"></p-dropdown>
                                                <label for="float-input">Banco / Cooperativa</label>
                                            </span>
                                        </div>
                                        <div class="p-col-3 p-md-4">
                                            <span class="p-float-label">
                                                <p-dropdown [options]="tipocuentas" [(ngModel)]="tipo"
                                                    placeholder="Tipo Cuenta" [showClear]="true"></p-dropdown>
                                                <label for="float-input">Tipo cuenta</label>
                                            </span>
                                        </div>
                                        <div class="p-col-3 p-md-4">
                                            <span class="p-float-label">
                                                <input id="float-input" [(ngModel)]="numero" type="text"
                                                    [pKeyFilter]="'int'" maxlength="20" minlength="3" pInputText />
                                                <label for="float-input">Número de cuenta</label>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="p-col-3 p-md-4">
                                            <table class="table">
                                                <thead>
                                                    <tr class="table-dark">
                                                        <th scope="col">Nº</th>
                                                        <th scope="col" style="text-align: center">
                                                            Información de la cuenta
                                                        </th>
                                                        <th scope="col">Quitar</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor=" let cuenta of empresa.cuentasBancarias; let i = index">
                                                        <th>{{ i + 1 }}</th>
                                                        <td>{{ cuenta }}</td>
                                                        <td>
                                                            <button pButton type="button"
                                                                class="p-button-rounded p-button-danger"
                                                                icon="pi pi-times"
                                                                (click)="quitarCuentaBancaria(i)"></button>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <h4 style="text-align: center">Datos del representante</h4>
                            <div class="row">
                                <div class="col">
                                    <div class="p-col-12 p-md-4">
                                        <span class="p-float-label">
                                            <input id="float-input" type="text" class="form-control"
                                                [(ngModel)]="persona.cedula" [pKeyFilter]="'int'" maxlength="10"
                                                minlength="10" pInputText required />
                                            <label for="float-input">Cédula</label>
                                        </span>
                                    </div>
                                    <div class="p-col-12 p-md-4">
                                        <span class="p-float-label">
                                            <input id="float-input" type="text" class="form-control"
                                                [(ngModel)]="persona.nombre" [pKeyFilter]="blockSpecial" maxlength="30"
                                                minlength="3" pInputText />
                                            <label for="float-input">Nombres</label>
                                        </span>
                                    </div>
                                    <div class="p-col-12 p-md-4">
                                        <span class="p-float-label">
                                            <input id="float-input" type="text" class="form-control"
                                                [(ngModel)]="persona.apellido" [pKeyFilter]="blockSpecial"
                                                maxlength="30" minlength="3" pInputText />
                                            <label for="float-input">Apellidos</label>
                                        </span>
                                    </div>
                                    <div class="p-col-12 p-md-4">
                                        <span class="p-float-label">
                                            <input id="float-input" type="text" class="form-control"
                                                [(ngModel)]="persona.email" maxlength="30" minlength="6" pInputText />
                                            <label for="float-input">Correo</label>
                                        </span>
                                    </div>
                                    <div class="p-col-12 p-md-4">
                                        <span class="p-float-label">
                                            <input id="float-input" type="date" [(ngModel)]="persona.fechaNacimmiento"
                                                pInputText />
                                            <label for="float-input">Fecha de nacimiento</label>
                                        </span>
                                    </div>
                                    <div class="p-col-3 p-md-4">
                                        <p-dropdown [options]="generos" [(ngModel)]="persona.genero"
                                            placeholder="Género" [showClear]="true"></p-dropdown>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="p-col-3 p-md-4">
                                        <span class="p-float-label">
                                            <input id="float-input" type="text" class="form-control"
                                                [(ngModel)]="persona.direccion" [pKeyFilter]="blockSpecial"
                                                maxlength="40" minlength="10" pInputText />
                                            <label for="float-input">Dirección</label>
                                        </span>
                                    </div>
                                    <div class="p-col-3 p-md-4">
                                        <span class="p-float-label">
                                            <p-inputMask id="float-input" mask="09-9999999"
                                                [(ngModel)]="persona.telefono" placeholder=""></p-inputMask>
                                            <label for="float-input">Teléfono</label>
                                        </span>
                                    </div>
                                    <div class="p-col-3 p-md-4">
                                        <span class="p-float-label">
                                            <p-inputMask mask=" 0999999999" [(ngModel)]="persona.celular"
                                                placeholder="">
                                            </p-inputMask>
                                            <label for="float-input">Celular</label>
                                        </span>
                                    </div>
                                    <div class="p-col-3 p-md-4">
                                        <span class="p-float-label">
                                            <input id="float-input" type="text" class="form-control"
                                                [(ngModel)]="usuario.username" [pKeyFilter]="'alphanum'" maxlength="30"
                                                minlength="3" pInputText />
                                            <label for="float-input">Username</label>
                                        </span>
                                    </div>
                                    <div class="p-col-12 p-md-4">
                                        <span class="p-float-label">
                                            <p-password [toggleMask]="true" name="password"
                                                [(ngModel)]="usuario.password" [pKeyFilter]="'alphanum'" maxlength="15"
                                                minlength="6">
                                                <ng-template pTemplate="header">
                                                    <h6>Pick a password</h6>
                                                </ng-template>
                                                <ng-template pTemplate="footer">
                                                    <p-divider></p-divider>
                                                    <p class="mt-2">Suggestions</p>
                                                    <ul class="pl-2 ml-2 mt-0" style="line-height: 1.5">
                                                        <li>Al menos una minúscula</li>
                                                        <li>Al menos una mayúscula</li>
                                                        <li>Al menos un número</li>
                                                        <li>Minimo 6 caracteres</li>
                                                    </ul>
                                                </ng-template>
                                            </p-password>
                                            <label for="float-input">Password</label>
                                        </span>
                                    </div>
                                    <div class="p-col-3 p-md-4">
                                        <span class="p-float-label">
                                            <input (change)="imageSelectedl($event)" name="foto" accept="image/*"
                                                type="file" class="form-control" id="float-input" required />
                                            <label for="float-input"></label>
                                        </span>
                                        <div *ngIf="filem" class="mt-3 text-center">
                                            <img [src]="filem" class="rounded" alt="..." style="max-width: 50%" />
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <div class="p-col-12 p-md-4">
                                    <button id="btnreg" pButton pRipple type="button" label="Registrar Empresa"
                                        icon="pi pi-check" iconPos="right" class="p-button-rounded p-button-primary"
                                        (click)="registrarEmpresa()"></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </p-panel>
            </div>
        </mat-tab>

        <mat-tab label="Listado Empresarial" routerLink="../edit-empresa" routerLinkActive="active">

            <app-edit-empresa></app-edit-empresa>
        </mat-tab>
    </mat-tab-group>
</div>