<div class="container">
  <mat-tab-group preserveContent>
      <mat-tab label="Registro de Establecimiento">
          <div class="content">
            

              <p-panel id="paneregusuario" class="panel" header="Registro usuario">
                  <div class="panel over overflow-auto p-grid p-fluid">
                    <!-- <button (click)="toggleWeekends()">toggle weekends</button> -->
                    <table>
                        <thead>
                          <tr>
                            <th>Hora/Fecha</th>
                            <th *ngFor="let fecha of fechas">{{ fecha | date:'mediumDate' }}</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let hora of horas">
                            <td>{{ hora }}:00</td>
                            <td *ngFor="let fecha of fechas">
                              <button class="mi-boton" [ngClass]="{'disponible': !esReservado(hora, fecha), 'reservado': esReservado(hora, fecha)}"
                                (click)="reservar(hora, fecha)"> 
                                <span *ngIf="!esReservado(hora, fecha)">Disponible</span>
                                <span *ngIf="esReservado(hora, fecha)">No disponible</span>
                              </button>
                            </td>
                          </tr>
                        </tbody>
                      </table>

                  </div>
              </p-panel>



          </div>




      </mat-tab>

      <mat-tab label="Listado Usuarios" routerLink="../edit-establecimiento" routerLinkActive="active">
          <!-- <a class="nav-link" aria-current="true" routerLink="../edit-user"
                          routerLinkActive="active">Registrar nueva empresa</a>
                          -->
          <!-- <app-edit-establecimiento></app-edit-establecimiento> -->
      </mat-tab>

  </mat-tab-group>

  <p-dialog header="Realizar reserva" [(visible)]="displayEU" [modal]="true" [style]="{width: '75vw'}"
  [baseZIndex]="10000" [draggable]="false" [resizable]="false">
  <ng-template pTemplate="body">
      <div class="p-grid p-fluid">
          

  
          <div class="row">
              <div class="col">
                  <div class="p-col-12 p-md-4">
                      <span class="p-float-label">
                         <input id='float-input' type="date" name="fecha-hora" [(ngModel)]="disponibilidad.horainicio"  pInputText>
                          <label for="float-input">Hora de inicio</label>
                      </span>
                  </div>
                  <div class="p-col-12 p-md-4">
                      <span class="p-float-label">
                          <input  id="float-input" type="date" name="fecha-hora" [(ngModel)]="disponibilidad.horafin"  pInputText>
                          <label for="float-input">Hora fin</label>
                      </span>
                  </div>
                  
  
              </div>
              <br>
  
          </div>
          <div class="p-col-12 p-md-4">
              <div class="row">
                  <div class="col">
                      <button pButton pRipple type="button" label="Realizar Reserva" icon="pi pi-check" iconPos="right"
                          class="p-button-rounded p-button-success"routerLink="/cliente/reserva/register-reserva" ></button>
                  </div>
                  <div class="col">
                      <button pButton pRipple type="button" label="Realizar Reclamo" icon="pi pi-check" iconPos="right"
                          class="p-button-rounded p-button-success" ></button>
                  </div>
                  <div class="col">
                      <button pButton pRipple type="button" label="Cancelar" icon="pi pi-times" iconPos="right"
                          class="p-button-rounded p-button-danger" ></button>
                  </div>
              </div>
          </div>
      </div>
  </ng-template>
  </p-dialog>

</div>



